/* User list view */
.filter-users .filter-select{ padding: 0; margin: 0 4px 2px 0; }
.filter-users .filter-select select{ margin-bottom: 10px; }
.filter-users .filter-buttom{ padding: 0; margin: 2px 0 2px 0; }
.filter-users .filter-buttom button{ width: 100%; }

/* Dashboard */
.dashboard-unit-stadistic{
    float: left;
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.chart-stadistic_unit .pie-legend{
    float: left;
    list-style: none;
    font-size: 14px;
}

.chart-stadistic_unit .pie-legend li{ margin: 10px 10px 0 0; }

.chart-stadistic_unit .pie-legend li span{
    width: 16px;
    height: 16px;
    float: left;
    margin: 3px;
}

.dashboard-unit-stadistic .right-btn{ float:right; }

#answer-tab .elem{ border-bottom: 1px solid #EFEFEF; position: relative; }
#answer-tab .elem .name,
#answer-tab .elem .unit,
#answer-tab .elem label{ font-size: 12px; line-height: 12px; }

#answer-tab .elem .time{ position: absolute; right: 0; bottom: 4px; font-size: 12px; color: #9B9B9B; }

/* Survey Style */
.survey-form input.name{
    border: none;
    font-size: 2em;
}
.survey-form .option-form {
    display: none;
}
.survey-form .options-ctn input {
    margin-bottom: 3px;
}

.survey-form .form-actions {
    background: none;
}

.survey-form .fallback2{
    display: inline-block;
}

.survey-form.dropzone .dz-default.dz-message {
    position: relative;
    margin:0
}
.survey-form.dropzone.dz-clickable.dz-started .fallback2 {
    display: none;
}

.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
    border: none;
    border-radius: 0;
    color: #FFF;
    background: #D15B47;
    cursor: pointer;
}
.dropzone a.dz-remove:hover, .dropzone-previews a.dz-remove:hover {
    color: #FFF;
    background: #B74635;
}


.show-grid {
    margin-bottom: 15px;
}

.widget-result .question h2 small {
    color: #69aa46;
}



